.pc {
  display: block !important;
}
.sp {
  display: none !important;
}

/*notes*/
header .header__top__wrap {
  position: fixed;
  top: 0;
  background: #332f30;
  width: 100%;
  z-index: 1;
}
header .header__top__wrap .header__top {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  margin: auto;
  max-width: 1000px;
  padding: 6px 2%;
  flex-wrap:wrap;
  justify-content:space-between;
}
header .header__top__wrap .header__top a:link,
header .header__top__wrap .header__top a:visited,
header .header__top__wrap .header__top a:active {
  color: #fff;
}
h1 {
  color: #bdb767;
  font-size: 2.8rem;
  line-height: 1.2;
}
header .header__top__wrap a.btn {
  align-items: center;
  background: linear-gradient(to bottom, #ff9300, #d46a00);
  border-radius: 10px;
  display: flex;
  font-size: 2.0rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.2;
  padding: .5em 0;
  width: 300px;
}
header .header__top__wrap a.btn:link,
header .header__top__wrap a.btn:visited,
header .header__top__wrap a.btn:active {
  color: #fff;
}
header .header__top__wrap a.btn:hover {
  background: #bdb767;
}
header .header__main__wrap {
  background: center center / cover url(../img/0000.jpg) no-repeat;
  font-weight: 700;
  margin-top: 70px;
  padding: 8em 5%;
}

@media screen and (max-width: 576px){
  header .header__main__wrap {
    margin-top: 90px;
  }
}

header .header__main {
  margin: auto;
  max-width: 1000px;
}
h2 {
  color: #827f4d;
  font-size: 6.4rem;
  line-height: 1.3;
  margin-left: auto;
  max-width: 9em;
  text-align: center;
}
h2 span {
  color: #332f30;
  font-size: 3.6rem;
}

/*notes*/
.h3__wrap {
  position: relative;
  background: #332f30;
  margin-bottom: 5em;
  padding: 1.3em 0;
}
.h3__wrap:before {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  margin-left: -22px;
  border: 22px solid transparent;
  border-top: 18px solid #332f30;
}
h3 {
  color: #aea867;
  font-size: 3.6rem;
  line-height: 1.2;
  text-align: center;
}
.b1__wrap {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 4em;
  max-width: 820px;
  padding: 0 5%;
}
.b1__wrap:last-child {
  margin-bottom: 100px;
}
.b1__wrap .txt {
  width: 52.72%;
}
h4 {
  position: relative;
  color: #8d8001;
  font-size: 2.4rem;
  margin-bottom: .8em;
  padding-left: 1.8em;
}
h4:before{
  position: absolute;
  content: "";
  background: 100% / 100% url(../img/0001.svg) no-repeat;
  width: 32px;
  height: 32px;
  top: .1em;
  left: 0;
}
.b3__wrap div p:nth-of-type(1):before{
  content:'';
  width: 32px;
  height: 32px;
  display:inline-block;
  background-color:red;
  background: 100% / 100% url(../img/0001.svg) no-repeat; 
  position: relative;
  top: 5px;
}

.b1__wrap .txt p {
  margin-left: 1em;
}
.txt span,.b3__wrap b {
  background: linear-gradient(transparent 80%, #bcb566 0%);
  color: #950417;
  font-weight: 700;
}
.b1__wrap .txt span.t1 {
  background: none;
}
.b1__wrap .txt ul {
  color: #950417;
  font-weight: 700;
  margin: 1.5em 0 1.5em 1em;
  padding-left: 1em;
  text-indent: -1em;
}
.b1__wrap img {
  border-radius: 30px;
  width: 43.63%;
}
h5 {
  color: #aea867;
  font-size: 3.0rem;
  line-height: 1.3;
  margin-bottom: 1em;
  text-align: center;
}
.b2__wrap {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 2em;
  max-width: 660px;
  padding: 0 5%;
}
.b2__wrap:last-child {
  margin-bottom: 100px;
}
.b2__wrap img {
  border-radius: 30px;
  width: 45.45%;
}
.b2__wrap .txt {
  width: 48.48%;
}
.b2__wrap .txt div {
  align-items: center;
  color: #808001;
  display: flex;
  margin-bottom: 1em;
}
.b2__wrap .txt div p:nth-of-type(1) {
  font-size: 4.0rem;
  line-height: 1;
  margin-right: .2em;
}
.b2__wrap .txt div p:nth-of-type(2) {
  font-size: 2.4rem;
  font-weight: 700;
}
.h5 {
  border-bottom: 1px solid #aea867;
  margin: 0 auto .5em;
  max-width: 1000px;
  padding-bottom: .2em;
}
.b3__wrap {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 4em;
  max-width: 1000px;
  padding: 0 5%;
}
.b3__wrap:last-child {
  margin-bottom: 100px;
}
.b3__wrap div {
  width: 30.00%;
}
.b3__wrap div img {
  border-radius: 30px;
}
.b3__wrap div p:nth-of-type(1) {
  color: #808001;
  font-size: 2.2rem;
  font-weight: 700;
  margin: .5em 0;
  text-align: center;
}
.h5b {
  border-bottom: 1px solid #b02f30;
  color: #b02f30;
  margin: 0 auto .5em;
  max-width: 1000px;
  padding-bottom: .2em;
}
.h5c {
  color: #332f30;
  margin-bottom: .2em;
}
.b4__wrap {
  background: #332f30;
  border-radius: 40px;
  color: #fff;
  margin: 0 auto 2em;
  max-width: 680px;
  padding: 20px;
}
.b4__wrap .b4 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.b4__wrap .b4:last-child {
  margin-bottom: 0;
}
.b4__wrap .b4 img {
  border-radius: 30px;
  width: 29.41%;
}
.b4__wrap .b4 div {
  width: 64.70%;
}
.b4__wrap .b4 div p:nth-of-type(1) {
  color: #beb984;
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1em 0 .5em;
}
.h5d {
  margin-bottom: .2em;
}
.b4__wrap:nth-child(5) {
  background: #beb984;
  color: #332f30;
  margin: 0 auto 100px;
}
.b4__wrap:nth-child(5) .b4 div p:nth-of-type(1) {
  color: #332f30;
}
.b5__wrap {
  margin: 0 auto 100px;
  max-width: 700px;
}
.b5__wrap li {
  border-bottom: 1px solid #332f30;
  display: flex;
  margin-bottom: .7em;
  padding: 0 2em .7em;
}
.b5__wrap li:last-child {
  border-bottom: none;
}
.b5__wrap li p:nth-of-type(1) {
  font-weight: 700;
  max-width: 6em;
  width: 100%;
}
.b6__wrap {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 100px;
  max-width: 840px;
}
.b6__wrap div {
  width: 47.61%;
  padding: 0 5%;
}
.b6__wrap div img {
  display: block;
  margin: auto;
  max-width: 110px;
}
.b6__wrap div p:nth-of-type(1) {
  color: #808001;
  font-size: 2.2rem;
  font-weight: 700;
  margin: .5em 0;
  text-align: center;
}
.s07 {
  background: center center / cover url(../img/0700.jpg) no-repeat;
  text-align: center;
}
.s07 p:nth-of-type(1) {
  font-weight: 700;
  line-height: 2.4;
  margin-bottom: 10em;
  padding: 0 5%;
  text-align: center;
}
.s07 ul {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}
.s07 ul li {
  margin: 0 2em;
}
.s07 p:nth-of-type(2) {
  font-size: 1.2rem;
}

/*notes*/
footer {
  font-size: 1.2rem;
  padding: 10em 5% .2em;
  text-align: center;
}

/*notes*/
.h3__wrap-2 {
  position: relative;
  background: #aea867;
  margin-bottom: 5em;
  padding: 1.3em 0;
  margin-top: 70px;
}
.h3__wrap-2:before {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  margin-left: -22px;
  border: 22px solid transparent;
  border-top: 18px solid #aea867;
}
.h3__wrap-2 h3 {
  color: #332f30;
  font-size: 3.6rem;
  line-height: 1.2;
  text-align: center;
}
.s07-2 {
  background: #fffff1;
}
.b8__wrap {
  margin: 0 auto 100px;
  max-width: 700px;
  padding: 0 5%;
}
.b8__wrap li {
  border-bottom: 1px solid #332f30;
  display: flex;
  margin-bottom: .7em;
  padding: 0 2em .7em;
}
.b8__wrap li:last-child {
  border-bottom: none;
}
.b8__wrap li p:nth-of-type(1) {
  font-weight: 700;
  margin-right: 1em;
  max-width: 10em;
  width: 100%;
}
.b9__wrap {
  margin: 0 auto 100px;
  max-width: 700px;
  padding: 0 5%;
}
.b9__wrap h4 {
  font-size: 2.0rem;
}
.b9__wrap h4:before {
  width: 28px;
  height: 28px;
}
.b9__wrap p {
  margin-bottom: 3em;
}


@media screen and (max-width:720px){
.pc {
  display: none !important;
}
.sp {
  /* display: block !important; */
}
body {
  font-size: 1.5rem;
}

.h1__wrap {
  font-size: 1.0rem;
}
h1 {
  font-size: 1.8rem;
}
.header__top{
  justify-content:center !important;
}
.header__top a{
  margin: 10px 0;
  padding: 5px 0;
}

header .header__top__wrap a.btn {
  border-radius: 6px;
  font-size: 1.2rem;
  width: 300px;
}
header .header__main__wrap {
  padding: 3em 5%;
}
h2 {
  font-size: 2.4rem;
}
h2 span {
  font-size: 1.4rem;
}

/*notes*/
h3 {
  font-size: 2.2rem;
}
.b1__wrap {
  display: block;
}
.b1__wrap:last-child {
  margin-bottom: 50px;
}
.b1__wrap .txt {
  width: 100%;
}
h4 {
  font-size: 2.0rem;
  padding-left: 1.4em;
}
h4:before {
  width: 20px;
  height: 20px;
  top: .3em;
}
.b1__wrap .txt p {
  margin-left: 0;
}
.b1__wrap img {
  display: block;
  margin: 1em auto 0;
  width: 80%;
}
h5 {
  font-size: 2.0rem;
}
.b2__wrap {
  display: block;
}
.b2__wrap:last-child {
  margin-bottom: 50px;
}
.b2__wrap img {
  display: block;
  margin: 0 auto 1em;
  width: 80%;
}
.b2__wrap .txt {
  width: 100%;
}
.b2__wrap .txt div p:nth-of-type(1) {
  font-size: 3.0rem;
}
.b2__wrap .txt div p:nth-of-type(2) {
  font-size: 2.0rem;
}
.b3__wrap {
  display: block;
}
.b3__wrap:last-child {
  margin-bottom: 50px;
}
.b3__wrap div {
  width: 100%;
}
.b3__wrap div img {
  display: block;
  margin: 2em auto 0;
  width: 80%;
}
.b3__wrap div p:nth-of-type(1) {
  font-size: 2.0rem;
}
.b4__wrap {
  width: 80%;
}
.b4__wrap .b4 img {
  border-radius: 20px;
}
.b4__wrap .b4 div p:nth-of-type(1) {
  font-size: 1.8rem;
  margin: 0 0 .5em;
}
.b4__wrap:nth-child(5) {
  margin: 0 auto 50px;
}
.b5__wrap {
  margin: 0 auto 50px;
}
.b6__wrap {
  display: block;
  margin: 0 auto 50px;
}
.b6__wrap div {
  width: 90%;
}
.b6__wrap div:nth-child(1) {
  margin-bottom: 40px;
}
.b6__wrap div p:nth-of-type(1) {
  font-size: 2.0rem;
}
.s07 {
  background: center center / cover url(../img/0700.jpg) no-repeat;
  text-align: center;
}
.s07 p:nth-of-type(1) {
  text-align: left;
}
.s07 ul {
  display: block;
}
.s07 ul li {
  margin: 1em;
}

/*notes*/
footer {
  font-size: 1.0rem;
}

/*notes*/
.h3__wrap-2 h3 {
  font-size: 2.2rem;
}
.s07-2 {
  background: #fffff1;
}
.b8__wrap li {
  display: block;
  padding: 0 0 .7em;
}
.b8__wrap li p:nth-of-type(1) {
  margin-right: 0;
  max-width: 100%;
  margin-bottom: .5em;
}
.b9__wrap h4 {
  font-size: 1.8rem;
}
.b9__wrap h4:before {
  width: 20px;
  height: 20px;
}
}

/*追記*/
li > ol > li{
  margin-left:1em;
}

.free_taiken{
  text-align:center;
  max-width: 820px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.free_taiken > a{
  background: linear-gradient(to bottom, #ff9300, #d46a00);
  padding: 20px;
  border-radius: 10px;
  color:white;
  font-size: 4rem;
  font-weight:bold;
  letter-spacing: 0.2em;
}
.free_taiken > p{
  margin-top: 20px;
  font-weight:bold;
  font-size: 20px;
}

@media screen and (max-width: 800px){
  .free_taiken > a{
    font-size: 3rem;
    padding: 10px;
  }
  .free_taiken > p{
    font-size: 16px;
  }
}

.jisseki{
  margin-top: 30px;
  font-size: 20px;
  font-weight:bold;
  /* background-color: #f5f5f580; */
  display:block;
  margin-left: auto;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;
  /* margin: 0 auto 30px; */
}
.jisseki ul{
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: baseline;
}
.jisseki li{
  /* border: solid 1px #ccc; */
  padding: 3px;
}

.jisseki li:after{
  content: ' , ';
}

.jisseki li:last-child{
  border: none;
  font-size: 16px;
  font-weight: normal;
  vertical-align: bottom;
}
.jisseki li:last-child:after{
  content: '';
}


.fee_table{
  width: 800px;
  margin: 0 auto 30px;
}
.fee_table td,.fee_table th{
  border:solid 1px black;
}
.fee_table th{
  background-color:#332f30;
  color:white
}
.fee_table tr th:nth-child(1){
  width: 100px;
}
.fee_table tbody tr{
  height: 50px;
}
.fee_table th{
  vertical-align:middle;
}
.fee_table thead tr{
  height: 40px;
}
.fee_table tbody tr td{
  padding-right: 10px;
  text-align: right;
  vertical-align: middle;
}
.fee_table_big tbody tr td:nth-child(2){
  background-color:lightpink;
  font-weight: bold;
  font-size: 18px;
}
.fee_table_small tbody tr:nth-child(1) td:nth-child(n+2){
  background-color:lightpink;
  font-weight: bold;
  font-size: 18px;
}

.fee_table_big td{
  width: 200px;
}
.fee_table_big tbody tr th:nth-child(1){
  width: 200px;
} 


.fee_table_small{
  width: 95%;
  margin:0 auto;
  margin-bottom: 50px;
}

.fee_table_small td{
  width: 200px;
}

div.message{
  max-width: 400px;
  margin-left: auto;
  margin-top: 30px;
}


@media screen and (max-width: 800px){
  div.message{
    font-size: 10px;
    max-width: 250px;
  }
}

@media screen and (max-width: 800px){
  .fee_table_big{
    display:none;
  }
  .fee_table_small{
    display:block;
  }
}
@media screen and (min-width: 800px){
  .fee_table_small{
    display:none;
  }
  .fee_table_big{
    display:block;
  }
}


.jisseki__wrap{
  background-image: url(../img/sakura.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  color:maroon;
}
/* .jisseki:after{
  content: '';
  position: absolute;
  background:linear-gradient(to right, #ffffff00, #ffffff);
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;

} */

nav ul li a{
  color: white !important;
  padding: 0 5px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  max-width: 1000px;
  margin: 0 auto;
}

nav ul li:after{
  content: '/';
  color:white;
}
/* nav ul li:before{
  content: '[';
  color:white;
} */


h3{
  display: block;
  /* padding-top: 150px;
  margin-top: -150px; */
}

@media screen and ( max-width: 576px ){
  h3{
    /* padding-top: 195px;
    margin-top: -195px;  */
  }
  header nav ul li a{
    font-size: 12px;
  }
}

#one_team{
  height: 200px;
}

