.teachers{
    /* background-color:maroon; */
    background: linear-gradient(45deg,#800000ff,#80000088);
    color:#EEE;
    padding: 20px 0;
}
.teachers h2{
    text-align:center;
    font-size: 24px;
    font-weight:bold;
    border-bottom: solid 2px khaki;
    padding-bottom: 20px;
}
.teachers ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    gap : 20px;
    padding: 20px 0;
}
.teachers li{
    width: 400px;
}
.teachers li h3{
    font-size: 20px;
    text-align:right;
    font-weight:bold;
    padding: 40px 0;
    margin-bottom: 20px;    
    background-size: contain;
    background-repeat:no-repeat;
}
.teachers li p{
    line-height: 200%;
}
.tagomori h3{
    background-image: url(/img/teachers/tagomori.jpeg);
}
.nakamura h3{
    background-image: url(/img/teachers/nakamura.jpeg);
}

@media screen and (max-width: 1200px) {
    .teachers{
        padding: 20px 20px;
    }
    .teachers ul{
        flex-direction:column;
        gap: 0;
    }
    .teachers li{
        width: 100%;
    }
}
    
