@media screen and ( max-width: 1200px){
    .three_elements ul{
        flex-direction:column;
    }
    .three_elements li{
        width: 100%;
        display:flex;
    }
    .three_elements li:nth-child(2n){
        flex-direction:row-reverse;
    }
    .three_elements li div:first-child{
        width: 40%
    }
}