header{
    background-image:url(../img/hero_image.jpg);
    height:400px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position:relative; 
}
header h1{
    font-size: 30px;
    font-weight:bold;
    position:absolute;
    top: 50%;
    left: 20%;
    display:flex;
    flex-direction:column;
    transform:rotate(-5deg);
}
header h1 span{
    color: maroon;
}

/* main area style */
main{
    max-width: 1200px;
    margin: 0 auto;
}
section{
    margin: 30px 0;
}
section h2{
    font-size: 26px;
    font-weight:bold;
    color:rgb(126, 49, 49);
}

.three_elements{
    background-image: url(../img/three_elements.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.three_elements .section_over{
    padding: 20px;
    background: linear-gradient(90deg,#FFFFFFCC 0%, #FFFFFFFF 100%)
}

.three_elements ul{
    display:flex;
    gap: 20px;
    flex-wrap:wrap;
}
.three_elements li{
    width: calc( ( 100% - 40px ) / 3 );
}
.three_elements li{
    padding: 5px;
    border: solid 4px #99999933;
}
.three_elements li img{
    width: 100%;
}
.three_elements li > div:first-child{
    max-height: 150px;
    overflow:hidden;
}
h3{
    border-bottom: solid 3px maroon;
    font-size: 26px;
    font-weight:bold;
    color:maroon;
    opacity: 0.8;
}
h3 > span{
    display:inline-block;
}

