body{
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

header {
    background-image: url('../img/hero_image.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat:no-repeat;
    padding-top: 200px;
    padding-bottom: 80px;
}

header h1{
    color: maroon;
    font-size: 40px;
    max-width: 1200px;
    margin: 0 auto;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    transform: rotate(-5deg);
}

@media screen and ( min-width: 1200px ){
    header{
        background-position: center calc( -300px );
    }
}

@media screen and ( max-width: 1200px ){
    header{
        background-position: center calc( -200px );
        padding-left: 40px;
    }
}

@media screen and ( max-width: 992px ){
    header{
        background-position: center;
    }
    header h1{
        font-size: 30px;
    }
}