
.trigolist:nth-child(2n+1){
    background: linear-gradient(90deg,#80000088,#800000ff);
    margin-bottom: 30px;
}
.trigolist:nth-child(2n){
    background: linear-gradient(90deg,#800000ff,#80000088);
    margin-bottom: 30px;
}
.trigolist>h2,.trigolist>p{
    max-width:1200px;
    margin: 0 auto;
    padding: 10px 0;
    text-align:right;
    font-weight:bold;
    color:white;
}
.trigolist>h2{
    font-size: 26px;
}
.trigolist>h2>span,.trigolist>p>span{
    display:inline-block;
}

.trigolist>p{
    text-align:right;
    font-size: 20px;
    font-weight:bold;
    color:white;
}
.trigolist>ul{
    max-width:1200px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
}
.trigolist>ul>li{
    flex:1;
    min-width: 30%;
    background-size: 100% 200px;
    background-repeat:no-repeat;
    padding-top: 200px;
}
.trigolist>ul>li>h3{
    color:white;
    font-size: 20px;
    text-align:center;
    margin: 10px 0;
}
.trigolist>ul>li>p{
    color:#EEEEEE;
    text-decoration: none;
    line-height:200%;
}



@media screen and ( max-width: 1200px ){
    .trigolist{
        padding: 0 30px;
    }
    .trigolist>ul>li{
        background-size: 100% 180px;
       
    }
}
    
@media screen and ( max-width: 992px ){
    .trigolist>ul>li{
        background-size: 100% 150px;
       
    }
}

@media screen and ( max-width: 768px ){
    .trigolist>ul{
        flex-direction:column;
        flex-wrap:wrap;
        width: 95%;
        margin:0 auto;
    }
    .trigolist>ul>li{
        padding: 10px;
        background-size: 50% 100%;
        width: 100%;
        background-repeat: no-repeat;
    }
    .trigolist>ul>li:nth-child(2n){
        background-position: left;
    }
    .trigolist>ul>li>h3{
        text-align:left;
    }
    .trigolist>ul>li:nth-child(2n)>h3,.trigolist>ul>li:nth-child(2n)>p{
        padding-left: 52%;
    }
    .trigolist>ul>li:nth-child(2n+1){
        background-position: right;
    }
    .trigolist>ul>li:nth-child(2n+1)>h3,.trigolist>ul>li:nth-child(2n+1)>p{
        padding-right: 52%;
    }
}

/* @media screen and ( max-width: 576px ){
    .trigolist>ul>li{
        background-size:cover;
        background-color:rgba(255,255,255,0.8);
        background-blend-mode:lighten;
        padding: 10px;
    }
    .trigolist>ul>li>h3{
        border-bottom: solid 2px #444444;
    }
    .trigolist>ul>li>h3,.trigolist>ul>li>p{
        color:#444444;
        font-weight:bold;
    }

    .trigolist>ul>li:nth-child(2n)>h3,.trigolist>ul>li:nth-child(2n)>p{
        padding-left: 20%;
    }
    .trigolist>ul>li:nth-child(2n+1)>h3,.trigolist>ul>li:nth-child(2n+1)>p{
        padding-right: 20%;
    }
} */

@media screen and (max-width: 576px){
    .trigolist>ul>li:nth-child(n){
        flex-direction: column;
        background-size: 100% 180px;
        background-position:top center;
        padding-top: 180px;
    }
    .trigolist>ul>li:nth-child(n)>h3,.trigolist>ul>li:nth-child(n)>p{
        padding:0;
    }
}